<mat-grid-list cols="5" rowHeight="200px">
  <mat-grid-tile *ngFor="let stock of stocksHolder">
    <app-stock-card [info]="stock"></app-stock-card>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!employeeHolder">
    <mat-card class="NoEmployeesCard">
      <mat-card-header>
    <h3>Looks like there are no employees yet...</h3>
      </mat-card-header>
      <mat-card-actions>
    <button mat-raised-button class="addNewEmployeeButton" color="primary" (click)="openDialog()">Add new</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let employee of employeeHolder">
    <app-employee-card [info]="employee"></app-employee-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="5">
    <button mat-raised-button class="addNewEmployeeButton" color="primary" (click) = "openDialog()">Add new</button>
  </mat-grid-tile>
</mat-grid-list>

