<form novalidate (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Add new employee</h2>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Name" name="editName" type="text" [(ngModel)]="NewEmployee.name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Position" name="editPosition" type="text" [(ngModel)]="NewEmployee.position">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Salary" name="editSalary" type="number" [(ngModel)]="NewEmployee.salary">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Work place" name="editWorkPlace" type="text" [(ngModel)]="NewEmployee.workplace">
    </mat-form-field>
  </div>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">Add</button>
  </mat-dialog-actions>
</form>
